
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand">Characters</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link">Main</a></li>
              <li class="nav-item"><a class="nav-link">Story</a></li>
              <li class="nav-item"><a class="nav-link">Soundtrack</a></li>
              <li class="nav-item"><a class="nav-link">Books</a></li>
              <li class="nav-item"><a class="nav-link">Play movie</a></li>
              <li class="nav-item"><a class="nav-link">Trailer</a></li>
          </ul>
      </div>
  </div>
</nav>
