.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
  flex-direction: column;
  font-family: 'MiddleEarth', sans-serif;
  background: url('../../../assets/main-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  h1{
    color: #fff;
    font-weight: 200;
    font-size: 55px;
  }
  .btn-custom{
    width: 200px;
  }
}
